snippet h1
        ===========================================================================================
        ${0}
        ===========================================================================================

snippet h2
        ${0}
        ===========================================================================================

snippet h3
        -------------------------------------------------------------------------------------------
        ${0}
        -------------------------------------------------------------------------------------------

snippet h4
        ${0}
        -------------------------------------------------------------------------------------------

snippet table
        ===========================================================================================
        ${0}
        ===========================================================================================
        -------------------------------------------------------------------------------------------
        -------------------------------------------------------------------------------------------
        -------------------------------------------------------------------------------------------
